.Navbar {
    background-color: #F99791;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px rgb(189, 173, 173);
}

#sublist {
    background-color:white;
    color: black;
    border: none;
    border-radius: 25px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#sublist:hover {
    background-color: rgb(236, 226, 226);
}


#navone {
    padding-right: 30px;
}

#navone:hover{
    padding-right: 40px;
}

#navtwo {
    padding-right: 30px;
}

#navtwo:hover{
    padding-right: 40px;
}

#navthree {
    padding-right: 30px;
}

#navthree:hover{
    padding-right: 40px;
}

#navfour {
    padding-right: 30px;
}

#navfour:hover{
    padding-right: 40px;
}

#navfive {
    padding-right: 30px;
}

#navfive:hover{
    padding-right: 40px;
}