#readbtn {
background-color:white;
color: black;
border: none;
border-radius: 25px;
-webkit-box-shadow: 0 8px 6px -6px #999;
-moz-box-shadow: 0 8px 6px -6px #999;
box-shadow: 0 8px 6px -6px #999;
}

#readbtn {
background-color: rgb(236, 226, 226);
}